.atm
  .actions
    .bank.alert.alert-error{ 'ng-show' => '!preferences.hideBanksMessage && !preferences.banks' } 
      Select your banks and AtmTag will calculate ATM fees for each ATM we find near you.
      .choices
        .btn.btn-small{ 'ng-click' => 'banks.chooser = !banks.chooser' } Select your banks
        .btn.btn-mini.btn-inverse.pull-right{ 'ng-click' => 'hideBanksMessage()' } Hide this message
    .large{ 'ng-hide' => 'results' }
      .btn.btn-large.btn-block{ 'ng-click' => 'chooseBanks()' } Choose your banks
      %small Choosing your bank allows us to calculate the least expensive ATM for you.
      .btn.btn-large.btn-block{ 'ng-click' => 'search()' } Look up an ATM
      %small Search for the closest, cheapeast ATM
    .small{ 'ng-show' => 'results' }
      .btn.btn-large{ 'ng-click' => 'banks.chooser = !banks.chooser' } Banks
      .btn.btn-large{ 'ng-click' => 'search()' } Search
    .myatms{ 'ng-show' => 'preferences.banks' }
      My ATM cards:
      %span.bank.badge{ 'ng-repeat' => 'bank in preferences.banks' }
        {{bank.name}} 
        %span{ 'ng-click' => 'removeBank(bank)' } x

  .alert{ 'ng-show' => 'message' } {{ message }}

  .search{ 'ng-show' => 'attempted' }
    .expand{ 'ng-hide' => 'results' } 
      No results found. 
      Expand by:
      %select{ 'ng-change' => 'changeRadius(radius)', 'ng-model' => 'radius' }
        %option{ value: '1000' } 1
        %option{ value: '5000' } 5
        %option{ value: '10000' } 10
      {{metric&&'km'||'mi'}}.
    Searching within
    .btn.btn-mini{ 'ng-click' => 'changeRadius()' } {{convert(radius/1000)}}
    {{metric&&'km'||'mi'}}.
    Switch to
    .btn.btn-mini{ 'ng-click' => 'metric = !metric' } {{metric&&'imperial'||'metric'}}

  #results{ 'ng-show' => 'results' }
    .order
      Order by: 
      %span.btn-group.order-btns
        .btn.btn-mini{ 'ng-click' => 'order = "distance"' } Distance
        .btn.btn-mini{ 'ng-click' => 'order = "fees.amount"' } Cost

    .results{ 'ng-repeat' => 'result in results | orderBy:order' }
      %div.result{ 'ng-class' => '$index%2==0&&"evenBank"||"oddBank"' }
        .name{ 'ng-click' => 'result.expanded = !result.expanded' }
          %img.pull-left{ "ng-src" => '{{result.icon}}', 'ng-show' => 'result.expanded' }
          %h3 {{result.name}}
        .address{ 'ng-show' => 'result.expanded', 'ng-class' => 'iob(result.expanded)' }
          .icon-map-marker
          %a{ target: 'atm_map', 'ng-href' => 'https://maps.google.com/maps?q=atm&sll={{current.lat}},{{current.lng}}&hq={{result.name}}&z=16' }
            {{result.vicinity}}
        .distance{ 'ng-class' => 'iob(result.expanded)' } {{convert(result.distance)|number:2}} {{metric&&'km'||'mi'}}. away
        .alert.alert-info.cost{ 'ng-class' => 'iob(result.expanded)' }
          %span{ 'ng-show' => 'result.expanded' } Your cost: 
          {{result.fees.amount|currency}}
          %span{ 'ng-show' => 'result.expanded' }
            %span.badge.badge-important
              Estimated
            %button.btn.btn-inverse.btn-mini{ 'ng-click' => 'help(result)' } Help out.
        .btn.hide{ 'ng-click' => 'focusOnMap(result)' }
          .icon-map-marker
          %span{ 'ng-show' => 'result.expanded' } Show on map
        .extras{ 'ng-show' => 'result.expanded', 'ng-class' => 'iob(result.expanded)' }
          %span.extra.badge{ 'ng-repeat' => 'type in result.types' } {{ type }}

.hide
  #map_canvas
