.atm
  .actions
    .bank.alert.alert-error{ 'ng-show' => '!preferences.hideBanksMessage && !preferences.banks' } 
      Select your banks and AtmTag will calculate ATM fees for each ATM we find near you.
      .choices
        .btn.btn-small{ 'ng-click' => 'banks.chooser = !banks.chooser' } Select your banks
        .btn.btn-mini.btn-inverse.pull-right{ 'ng-click' => 'hideBanksMessage()' } Hide this message
    .large{ 'ng-hide' => 'results' }
      .btn.btn-large.btn-block{ 'ng-click' => 'banks.chooser = !banks.chooser' } Choose your banks
      %small Choosing your bank allows us to calculate the least expensive ATM for you.
      .btn.btn-large.btn-block{ 'ng-click' => 'search()' } Look up an ATM
      %small Search for the most closest, cheapeast ATM
      .btn.btn-large.btn-block{ 'ng-click' => 'preferences.chooser = !preferences.chooser' } Set preferences
      %small Anonymity options, etc.
    .small{ 'ng-show' => 'results' }
      .btn-group
        .btn.btn-large{ 'ng-click' => 'banks.chooser = !banks.chooser' } Banks
        .btn.btn-large{ 'ng-click' => 'search()' } Search
        .btn.btn-large{ 'ng-click' => 'preferences.chooser = !preferences.chooser' } Preferences
    .myatms{ 'ng-show' => 'preferences.banks' }
      My ATM cards:
      %span.bank.badge{ 'ng-repeat' => 'bank in preferences.banks' }
        {{bank.name}} 
        %span{ 'ng-click' => 'removeBank(bank)' } x

  .alert{ 'ng-show' => 'message' } {{ message }}

  .search{ 'ng-show' => 'attempted' }
    .expand{ 'ng-hide' => 'results' } 
      No results found. 
      Expand by:
      %span.btn-group
        %a.btn{ 'ng-click' => 'changeRadius(1000)' } {{convert(1)}}
        %a.btn{ 'ng-click' => 'changeRadius(5000)' } {{convert(5)}}
        %a.btn{ 'ng-click' => 'changeRadius(10000)' } {{convert(10)}}
      {{metric&&'km'||'mi'}}.
    Searching within
    .btn.btn-mini{ 'ng-click' => 'changeRadius()' } {{convert(radius/1000)}}
    {{metric&&'km'||'mi'}}.
    Distances in
    .btn.btn-mini{ 'ng-click' => 'metric = !metric' } {{metric&&'metric'||'imperial'}}

  #results{ 'ng-show' => 'results' }
    .order
      Order by: 
      %span.btn-group.order-btns
        .btn.btn-mini{ 'ng-click' => 'order = "distance"' } Distance
        .btn.btn-mini{ 'ng-click' => 'order = "fees.amount"' } Cost
    #map_canvas

    .results{ 'ng-repeat' => 'result in results | orderBy:order' }
      %div{ 'ng-class' => '$index%2==0&&"evenBank"||"oddBank"' }
        %h4 
          {{result.name}}
          %img{ "ng-src" => '{{result.icon}}' }
        {{result.vicinity}}
        .distance {{convert(result.distance)|number:2}} {{metric&&'km'||'mi'}}. away
        .alert.alert-info.cost
          Your cost: {{result.fees.amount|currency}}
          %span{ 'ng-hide' => 'result.vbc' }
            %span.badge.badge-important 
              Estimated
            %button.btn.btn-inverse.btn-mini{ 'ng-click' => 'help(result)' } Help out.
        .extras
          %span.extra.badge{ 'ng-repeat' => 'type in result.types' } {{ type }}

