.atm
  .actions
    .bank.alert.alert-error{ 'ng-show' => '!preferences.hideBanksMessage && !preferences.banks' } 
      Select your banks and AtmTag will calculate ATM fees for each ATM we find near you.
      .choices
        .btn.btn-small{ 'ng-click' => 'banks.chooser = !banks.chooser' } Select your banks
        .btn.btn-mini.btn-inverse.pull-right{ 'ng-click' => 'hideBanksMessage()' } Hide this message
    .large{ 'ng-hide' => 'results' }
      .btn.btn-large.btn-block{ 'ng-click' => 'banks.chooser = !banks.chooser' } Choose your banks
      %small Choosing your bank allows us to calculate the least expensive ATM for you.
      .btn.btn-large.btn-block{ 'ng-click' => 'search()' } Look up an ATM
      %small Search for the most closest, cheapeast ATM
      .btn.btn-large.btn-block{ 'ng-click' => 'preferences.chooser = !preferences.chooser' } Set preferences
      %small Anonymity options, etc.
    .small{ 'ng-show' => 'results' }
      .btn-group
        .btn.btn-large{ 'ng-click' => 'banks.chooser = !banks.chooser' } Banks
        .btn.btn-large{ 'ng-click' => 'search()' } Search
        .btn.btn-large{ 'ng-click' => 'preferences.chooser = !preferences.chooser' } Preferences
    .myatms{ 'ng-show' => 'preferences.banks' }
      My ATM cards:
      %span.bank.badge{ 'ng-repeat' => 'bank in preferences.banks' }
        {{bank.name}} 
        %span{ 'ng-click' => 'removeBank(bank)' } x

  .alert{ 'ng-show' => 'message' } {{ message }}

  #results{ 'ng-show' => 'results' }
    Order by: 
    %span.btn-group
      .btn{ 'ng-click' => 'order = "distance"' } Distance
      .btn{ 'ng-click' => 'order = "fees.amount"' } Cost
    #map_canvas

    .results{ 'ng-repeat' => 'result in results | orderBy:order', 'ng-class-even' => '"evenBank"', 'ng-class-odd' => '"oddBank"' }
      %h2 {{result.name}}
      %img{ "ng-src" => '{{result.icon}}' }
      {{result.vicinity}}
      .distance {{result.distance|number:2 }} km. away
      .alert Your cost: {{result.fees.amount|currency}}
      .extras
        %span.extra.badge{ 'ng-repeat' => 'type in result.types' } {{ type }}

