.atm{ 'ng-controller' => 'AtmCtrl', 'ng-init' => 'initialize()' }
  .actions
    .btn.btn-large.btn-block{ 'ng-click' => 'search()' } Look up an ATM
    .btn.btn-large.btn-block Add ATM details

  .alert{ 'ng-show' => 'message' } {{ message }}


  #map_canvas{ 'ng-show' => 'results' }

  .results{ 'ng-repeat' => 'result in results' }
    %h2 {{result.name}}
    %img{ "ng-src" => '{{result.icon}}' }
    {{result.vicinity}}
    .alert Your cost: ${{cost(result)}}


  .fade{ "ui-modal" => true, "ng-model" => "preferences" }
    We cannot calculate your cost. If you tell us your bank, we can
    determine the cost to use any ATM found.
