#map_canvas {
    width: 250px;
    height: 200px;
    display: none;
}

.banksChooser, .preferencesChooser { 
/* min-height: 250px; */
}

.small {
padding: 0.3em;
}

.cost {
font-size: 0.8em;
}

.wrapper {
padding: 2em;

}

.myatms, .banksChooser {
    .bank {  
        display: inline-block;
    }
}

$bank: #ddd;
.evenBank, .oddBank {
    padding: 1em;
}
.evenBank {

background-color: lighten( $bank, 20% );
}

.order, .search, .myatms {
width: 100%;
padding: 0.5em;
}

.order-btns, .search-btns {
text-align: right;
}

.icon {
transform:scale(0.5,0.5);
}

.oddBank {
background-color: $bank;
}

.extras {
.extra {
    display: inline-block;
}
}