#map_canvas {
    width: 250px;
    height: 200px;
    display: none;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

.banksChooser, .preferencesChooser { 
min-height: 250px;
}

.wrapper {
padding: 2em;
}