#preferences.fade{ "ui-modal" => true, "ng-model" => "preferences.chooser" }
  .wrapper.preferencesChooser
    .btn.btn-inverse.pull-right{ 'ng-click' => 'preferences.chooser = false' } x
    %legend
      Contribute information to Atm Tag
    %label Atm Tag relies on information from users to populate our fees database. If you do not want to contribute this information, you can choose not to share. This information is stored anonymously.
    %input{ type: 'checkbox', 'ng-model' => 'preferences.contribute' } Contribute information to AtmTag

    %legend Reset user token.
    %label Atm Tag stores your submission with an anonymous user token. You can reset this if you want to disassociate any information submissions (ATM fees you have tagged and banks added) you have made.
    .btn.btn-block{ 'ng-click' => 'resetUserToken()' } Reset user token

.fade{ 'ui-modal' => true, 'ng-model' => 'maps.display' }
  .wrapper
    .map
      #map_canvas
      .me
        = image_tag 'yellow_MarkerA.png'
        Me
      .atm
        = image_tag 'green_MarkerZ.png'
        {{maps.atm.name}}

#banks.fade{ "ui-modal" => true, "ng-model" => "banks.chooser" }
  .wrapper.banksChooser
    .btn.btn-inverse.pull-right{ 'ng-click' => 'banks.chooser = false' } x
    %span.bank.badge{ 'ng-repeat' => 'bank in preferences.banks' }
      {{bank.name}} 
      %span{ 'ng-click' => 'removeBank(bank)' } x
    %legend Show banks by:
    %input{ type: 'radio', 'ng-model' => 'banks.display', value: 'byState' } state
    %input{ type: 'radio', 'ng-model' => 'banks.display', value: 'alphabetical' } all alphabetical

    .alphabetical{ 'ng-show' => 'banks.display == "alphabetical"' }
      %select{ 'ng-options' => 'b.name for b in banks.all | orderBy:"name"', 'ng-change' => 'addBank()', 'ng-model' => 'bank' }
    .byState{ 'ng-show' => 'banks.display == "byState"' }
      %select{ 'ng-change' => 'addBank()', 'ng-model' => 'bank', 'ng-options' => 'b.name group by b.state for b in banks.all | orderBy:["state","name"]' }

